/* style.css */
@font-face {
    font-family: Figtree;
    src: url('./fonts/Figtree-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Figtree;
    src: url('./fonts/static/Figtree-ExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #f5d04e;
    display: flex;
    margin: 4;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 18px 18px 20px rgba(0, 0, 0, 2.6),/* Darker shadow on right and bottom */
                0px 0px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow on top and left */
    width: 370px;
}

.card-image {
    width: 320px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-image img {
    border-radius: 20px;
}

.card-content {
    padding: 16px;
}

.tag {
    background-color: #FFD43B;
    color: #000;
    font-weight: bold;
    display: iniline-block;
    border-radius: 4px;
    margin-bottom: 8px;
    width: fit-content;
    padding: 8px;
}

.date {
    color: gray;
    font-size: 0.95em;
    margin-bottom: 8px;
}

h1 {
    font-size: 1.25em;
    margin: 0;
    margin-bottom: 8px;
}

.description {
    font-size: 1em;
    color: #333;
    margin-bottom: 16px;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.author span {
    font-size: 1em;
    color: #333;
    font-style: normal;
}

/* style for screens 375px and up */
@media (min-width: 375px){
    
}

/* style for desktop screens */
@media (min-width: 1440px) {
}